<style>
#blueul {
  list-style: none;
}

#blueul li::before {
  content: "\2022";
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
</style>
<center><h4 class="text-center mt-5" style="color:#6600ff">Roles and Responsibilities</h4></center>

<ul id='blueul'>
<li>Contributed to the development of APIs for a portal focusing on monitoring the health and performance of the data movement infrastructure, using Java, Spring Boot, JPA, and JDBC in an Agile environment.</li>
<li>Designed and implemented RESTful endpoints to serve and consume data from frontend and other sources, ensuring efficient data flow and communication.</li>
<li>Collaborated with cross-functional teams to ensure seamless integration and deployment of new features and services.</li>
<li>Occasionally contributed to frontend tasks using React, modifying components as needed.</li>
<li>Gathered and analyzed requirements, collaborated with stakeholders to define project scope, and ensured alignment with business objectives.</li>
<li>Used Docker for containerization and leveraged AWS services for application deployment and management, improving scalability, reliability, and consistency.</li>
<li>Onboarded vendors and applications for various data movement integrations, enhancing system extensibility
   and scalability.</li>
<li>Utilized tools and technologies including Java, Spring Boot, JWT, JPA, JDBC, Oracle SQL, and React</li>
<li><strong>ENVIRONMENT:</strong> AWS, Terraform, Ansible, Docker, Kubernetes, Jenkins, Git, Ant, Maven, Nexus, EFK, Grafana, Powershell, New
		  Relic, Python, Prometheus</li>

</ul>
