{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <a href="{% url 'blog:all_blogs' %}" class="goback d-flex align-items-left justify-content-left" style="color:#6600ff"><i class="bi bi-arrow-left"></i> Go Back</a>
  <h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.title }}</h1>

  <h5 class="text-center text-muted mb-5">{{ blog.date|date:'F jS Y' }}</h5>
  <p class="blogdescription">
    {{ blog.description|safe }}
  </p>
</div>
{% endblock %}
